description = 'A Pktgen configuration by using virtio_user as vdev'

# Setup configuration
setup = {
    'exec': (
        'sudo',
        '-E'
        )
	}

# Run command and options
run = {
    'exec': (
        'sudo',
        '-E'
        ),

    # Application name and use app_path to help locate the app
    'app_name': 'pktgen',

    # using (sdk) or (target) for specific variables
    # add (app_name) of the application
    # Each path is tested for the application
    'app_path': (
        './app/%(target)s/%(app_name)s',
        '%(sdk)s/%(target)s/app/%(app_name)s',
        ),

	'dpdk': (
		'-l 1-3',
		'-n 1',
		'--proc-type auto',
		'--log-level 7',
		'--socket-mem 32',
		'--file-prefix pg',
                '--vdev=virtio_user0,path=/tmp/virtio/sock0',
                '--vdev=virtio_user1,path=/tmp/virtio/sock1'
		),
		
	'app': (
		'-T',
		'-P',
		'--crc-strip',
		'-m [2:2].0',
		'-m [3:3].1',
		),
	
	'misc': (
		'-f',
		'themes/black-yellow.theme'
		)
	}
