description = 'A Pktgen default simple configuration'

# Setup configuration
setup = {
    'exec': (
        'sudo',
        '-E'
        ),

	'devices': (
		'02:06.0',
		),
		
	'opts': (
		'-b igb_uio'
		)
	}

# Run command and options
run = {
    'exec': (
        'sudo',
        '-E'
        ),

    # Application name and use app_path to help locate the app
    'app_name': 'pktgen',

    # using (sdk) or (target) for specific variables
    # add (app_name) of the application
    # Each path is tested for the application
    'app_path': (
        './app/%(target)s/%(app_name)s',
        '%(sdk)s/%(target)s/app/%(app_name)s',
        ),

	'dpdk': (
		'-l 2-3',
		'-n 1',
		'--proc-type auto',
		'--log-level 7',
		'--socket-mem 32',
		'--file-prefix pg'
		),
	
	'blacklist': (
		'-b 02:07.0 -b 02:08.0',
		),
		
	'app': (
		'-T',
		'--crc-strip',
		'-m 3.0',
		),
	
	'misc': (
		'-f',
		'themes/black-yellow.theme'
		)
	}
